html {
    background-color: #F4FCFF;  
    }

body {
    margin: 0 auto;
    padding: 2em 2em 4em;
    max-width: 850px;
    font-family: "Courier";
   font-weight: lighter;
    line-height: 1.1em;
    color: #073D0C;
   }

img {
    margin: 8px 0 20px 0;
    line-height: 18px;
    max-width: 60%;
    display: block;
    border: 10px;
    padding-bottom: 20px;
   }

p {
    font-size: 16px;
    margin-top: 20px;
    }
      
h1 {
    font-weight: normal;
    font-size: 30px;
    color: #119B36;
    line-height: 12px;
    margin-top: 10px;
    }

h2, h3, h4, h5 {
    font-weight: lighter;
    font-size: 16px;
    color: #073D0C;
    line-height: 12px;
    margin-top: 10px;
    }

a {
   target="_blank”;    
   color: blue;     
   font-size: 16px;
   }

span12 {
    width: 73%;
    }

col {
    display: inline;
    float: left;
    margin: 0 1%;
    position: relative;
    }

map 
  { 
    display: block; 
    border-bottom: 5px; 
    border-top: 12px; 
    height: 440px; 
    margin: 12px; 
  }
   
ul
  {
    font-size: 16px;
    font-family: "Courier";
   }